.child-1 {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    color: black;
    box-shadow: 5px 0 10px rgb(151, 147, 147);
    padding: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.267);
  }
  
  .navbtn {
    color: black;
    border: none;
    width: 100%;
    height: 50px;
    text-align: start;
    justify-content: flex-start;
    padding-top: 14px;
    background-color: white;
    border-radius: 10px !important;
    margin-top: 15%;
    display: flex;
    margin-bottom: 10px;
  }
  
  .navbtn:hover {
    color: white;
    background-color: rgb(173, 167, 167);
  }
  
  .active {
    color: white;
    background-color: rgb(160, 7, 7);
  }
  
  .btn-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .btn-sign-out {
    margin-top: 325px !important;
  }
  
  .iconSize {
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
  }
  
  .rent {
    margin-top: -15%;
  }
  
  @media (max-width: 768px) {
    .child-1 {
      width: 100%;
      box-shadow: none;
      border-right: none;
    }
  
    .navbtn {
      width: 100%;
      margin-top: 0;
    }
  
    .btn-sign-out {
      margin-top: 0 !important;
    }
  
    .rent {
      margin-top: 0;
    }
  }
  