<div class="container-fluid child-1">
    <img src="assets/sidebar-rad-logo.svg" class="img-fluid" alt="Image">        
    <div class="btn-group-vertical btn-nav" role="group" aria-label="Vertical button group">
        <button type="button" class="btn navbtn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="iconSize"></mat-icon>HOME</button>
        <button type="button" class="btn navbtn active"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="directions_car" class="iconSize"></mat-icon>CARS FOR RENT</button>
        <a routerLink="/rented" class="rent"><button type="button" class="btn navbtn"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="car_rental" class="iconSize"></mat-icon>RENTED VEHICLES</button></a>
        <button type="button" class="btn navbtn btn-sign-out"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout  " class="iconSize"></mat-icon>SIGN OUT</button>
    </div>
</div>
