@import '~bootstrap-icons/font/bootstrap-icons.css';
.child-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: #ffffff;
  color: black;
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 0;
  overflow-y: auto; 
  z-index: 2000; 
}

img {
  padding: 10px;
  cursor: pointer;
}

.navbtn {
  padding: 10px;
  color: black;
  border: none;
  width: 330px;
  height: 60px;
  text-align: start;
  padding: 14px 10px; 
  background-color: white;
  border-radius: 10px; 
  transition: background-color 0.3s ease;
}

.navbtn:hover {
  color: white;
  background-color: rgb(160, 7, 7);
}

i {
  margin-right: 10px;
}

.btn {
  font-size: 18px; 
  padding: 10px 20px; 

}

.bi {
  font-size: 1.5em; 
}

.active {
  color: white;
  background-color: rgb(160, 7, 7);
}


.btn-nav {
  padding: 10px;
}
button {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .child-1 {
    display: none;
  }
}
