<!-- add-car-details.component.html -->
<div class="wrapper">
  <!-- Sidebar  -->
  <app-admin-sidebar></app-admin-sidebar>
  <!-- Page Content  -->
  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <i class="bi bi-menu-app"></i>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <i class="bi bi-file-earmark"></i> Page
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-file-earmark"></i> Page
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-file-earmark"></i> Page
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-file-earmark"></i> Page
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="add-car-details-container mt-5">
    <div class="container">
      <h2>ADD A NEW VEHICLE</h2>
      <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col-md-4 mt-3">
            <div class="form-group">
              <label for="validationCustom01">Make</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="" formControlName="make" required>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="form-group w-100">
              <label for="carType">Car Type</label>
              <select class="form-select text-left" id="carType" formControlName="carType" required>
                <option value="Sports Car">Sports Car</option>
                <option value="Electric Car">Electric Car</option>
                <option value="Manual Transmission">Manual Transmission</option>
              </select>
            </div>
          </div>
          <div class="col-md-4 mt-3">
            <div class="form-group w-100">
              <label for="fuelType">Fuel Type</label>
              <select class="form-select text-left" id="fuelType" formControlName="fuelType" required>
                <option value="Petrol">Petrol</option>
                <option value="Electric">Electric</option>
                <option value="Manual">Manual</option>
              </select>
            </div>
          </div>
        </div> 
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="form-group">
              <label for="validationCustom01">Model</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="" formControlName="model" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="validationCustom01">Seat Capacity</label>
              <input type="number" class="form-control" id="validationCustom01" placeholder="" formControlName="seatCapacity" required>
            </div>
          </div>
        </div>
  
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="form-group">
              <label for="validationCustom01">Year</label>
              <input type="number" class="form-control" id="validationCustom01" placeholder="" formControlName="year" min="2000" max="2023" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="validationCustom01">Booking Price</label>
              <input type="number" class="form-control" id="validationCustom01" placeholder="" formControlName="bookingPrice" required>
            </div>
          </div>
          
        </div>
  
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="form-group">
              <label for="formFileSingle" class="form-label">Car Image</label>
              <input class="form-control" type="file" id="formFileSingle" formControlName="carImage">
            </div>
          </div>
          <!-- Add other fields as needed -->
        </div>
        
        <button type="submit" class="btn btn-primary">Add Car Details</button>
      </form>
      <br>
      <ul>
        <li *ngFor="let cars of carDetails$ | async">
          {{ cars.make }} - {{ cars.model }} - {{ cars.fuelType }}
          <button (click)="deleteItem(cars.id)">Delete</button>
        </li>
      </ul>      
    </div>
    <br>
  </div>
    <br><br><br><br>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var sidebarCollapse = document.getElementById('sidebarCollapse');
    sidebarCollapse.addEventListener('click', function () {
      var sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('active');
    });
  });
</script>

  