.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag{
    background-color: white;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    font-weight: 400;
    color: black;
    margin-top: 2%;
    text-decoration: none;
}

.tag:hover{
    // background-color: #D9D9D9;
    // color: black;

    color: white;
    background-color: rgb(160, 7, 7);
}