<div class="container">
    <img src="assets\Menu.svg" class="img-fluid btn-menu" alt="Image">
        
    <input type="text" class="searchField" placeholder="Search a Car" [(ngModel)]= "searchTerm" (change)="search()">
    <button type="button" class="btn navbtn searchButton" (click)="search()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search" class="iconSize"></mat-icon>Search</button>

    <img src="assets\Alarm.svg" class="img-fluid btn-alarm" alt="Image">
        <img src="assets\Male User.svg" class="img-fluid btn-user" alt="Image">
        <div class="user-info">            
            <a href="" class="user-name">LIL BOSS</a><br>
            <a href="" class="user-type">User</a>
        </div>
        <img src="assets\arrow-down.svg" class="img-fluid btn-arrow" alt="Image">
</div>

